.Bin {
  background: #eef;
  border: 1px solid #ddf;
  margin: 20px;
}

.BinName {
  padding: 5px;
  font-size: 120%;
  border-bottom: 1px solid #ddf;
}

.BinMetadata {
  border-bottom: 1px solid #ddf;
  padding: 5px;
  font-size: 80%;
}

.DragHandle {
  font-size: 80%;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid black;
}

.Error {
  margin: 10px;
  padding: 10px;
  border: 2px solid red;
  background: #faa;
}
